/* Text */

.text-center {
  text-align: center;
}

.heading-small {
  font-size: 1.25rem;
}

.heading-medium {
  font-size: 1.5rem;
}

.heading-big {
  font-size: 1.75rem;
}

/* Colors */

.bg-brown {
  background: #C57024;
}
/* Container */

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* Buttons */

.btn {
  margin-top: 0.8rem;
  padding: 0.8rem 3rem;
  border-radius: 7px;
  letter-spacing: 0.5px;
}

.btn-primary {
  background: #B66216;
}

.btn-primary:hover {
  background: #fff;
  color: #B66216;
  border: 0.5px solid #B66216; 
}

/* Forms */

.form-group {
  padding: 0.25rem 0;
}

.form-group label {
  display: block;
}

.form-control {
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
  resize: none;
  border-radius: 5px;
}