* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}
html {
  font-family: 'Open Sans', sans-serif;
}

/* Navbar Section */

#navbar {
  color: #fff;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 0.75rem;
  height: 70px;
}

#navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

#navbar ul li a {
  padding: 0.5rem;
}

#navbar ul li a:hover {
  background: #336ea2;
  border-radius: 4px;
}

/* Home Section */

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid saddlebrown;
}

#home img {
  width: 300px;
  height: 300px; 
  object-fit: cover;
  border-radius: 100%;
}

#home .name h2 {
  margin-bottom: 0.75rem;
}

#home .name p {
  opacity: 0.8;
  /*font-style: italic; */ 
}

/* About */

#about {
  color: #fff;
  padding: 1rem;
}

#about .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#about .items .item {
  width: 33%;
  text-align: center;
  padding: 0.5rem;
}

#about .items .item:hover {
  color: #51524D;
}

/* Photos */
#photos {
  padding: 1rem;
  color: #333;
}

#photos img {
  width: 300px;
  height: 500px; 
  object-fit: cover;
}

.timeline {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.timeline .image {
  display: flex;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.timeline .image .image-itself {
  margin-right: 0.5rem;
  position: relative;
}

.timeline .image .image-itself img {
  border-radius: 5px;
}

.timeline .image .image-itself span {
  border-radius: 5px;
  background: #B66216;
  padding: 0.25rem;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
}

.timeline .image .image-info .image-title {
  letter-spacing: 1.2px;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.timeline .image .image-info .image-description {
  letter-spacing: 1.2px;
  margin-bottom: 0.25rem;
}

/* Contact */
#contact {
  color: #fff;
  padding: 1rem;
}

#contact .contact-form {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

#contact .contact-form ul {
  list-style-type: none;
  display: flex;
  margin-top: 1rem;
  align-self: center;
}

#contact .contact-form ul li a{
  padding: 1rem;
  font-size: 2rem;
}

#contact .contact-form ul li a:hover{
  opacity: 0.8;
}