#navbar {
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow: hidden;
  height: 80px;
}

#about .items {
  flex-direction: column;
}

#about .items .item {
  width: 100%;
}

.timeline .image {
  flex-direction: column;
}